.VueCarousel {
    display: flex;
    flex-direction: column;
    position: relative;
}

.VueCarousel--reverse {
    flex-direction: column-reverse;
}

.VueCarousel-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.VueCarousel-inner {
    display: flex;
    flex-direction: row;
    backface-visibility: hidden;
}

.VueCarousel-inner--center {
    justify-content: center;
}

.VueCarousel-slide {
    flex-basis: inherit;
    flex-grow: 0;
    flex-shrink: 0;
    user-select: none;
    backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

.VueCarousel-slide-adjustableHeight {
    display: table;
    flex-basis: auto;
    width: 100%;
}

.VueCarousel-navigation-button {
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    color: #000;
    text-decoration: none;
    appearance: none;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.VueCarousel-navigation-button:focus {
    outline: 1px solid lightblue;
}

.VueCarousel-navigation-next {
    right: 0;
    transform: translateY(-50%) translateX(100%);
    font-family: "system";
}

.VueCarousel-navigation-prev {
    left: 0;
    transform: translateY(-50%) translateX(-100%);
    font-family: "system";
}

.VueCarousel-navigation--disabled {
    opacity: 0.5;
    cursor: default;
}

/* Define the "system" font family */
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Symbol"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

.VueCarousel-pagination {
    width: 100%;
    text-align: center;
}

.VueCarousel-pagination--top-overlay {
    position: absolute;
    top: 0;
}

.VueCarousel-pagination--bottom-overlay {
    position: absolute;
    bottom: 0;
}

.VueCarousel-dot-container {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

.VueCarousel-dot {
    display: inline-block;
    cursor: pointer;
    appearance: none;
    border: none;
    background-clip: content-box;
    box-sizing: content-box;
    padding: 0;
    border-radius: 100%;
    outline: none;
}

.VueCarousel-dot:focus {
    outline: 1px solid lightblue;
}
